<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console"
              layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:|${exception:format=Message}}" />
      <target name="file" xsi:type="File" fileName="logs\log.txt"
              layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:|${exception:format=Message}}" />
      <target name="exception_file" xsi:type="File" fileName="logs\exception_log.txt"
              layout="${longdate}|${logger:shortName=true}|${message}|${exception:format=type,tostring:maxInnerExceptionLevel=5:innerFormat=type,tostring}${newline}" />
    </targets>
    <rules>
      <logger name="*" minlevel="debug" writeTo="console" />
      <logger name="*" minlevel="info" writeTo="file" /> <!-- Note: MUST be named 'file' -->
      <logger name="*" minlevel="error" writeTo="exception_file" />
    </rules>
  </nlog>
</configuration>