<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <add key="ApplicationsDirectory" value="C:\CloudFoundry\Applications" />
    <add key="StagingDirectory" value="C:\CloudFoundry\Staging" />
    <add key="DropletsDirectory" value="C:\CloudFoundry\Droplets" />
    
    <!--
    <add key="NatsHost" value="172.21.100.15"/>
    -->
    <add key="NatsHost" value="172.21.193.11"/>
    <add key="NatsPort" value="4222"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>