<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--
    <add key="IISHost" value="172.21.193.11" />
    <add key="IISHost" value="172.21.193.12" />
    -->
    <add key="IISHost" value="172.21.10.232" />
    
    <add key="ApplicationsDirectory" value="C:\CloudFoundry\Applications" />
    <add key="StagingDirectory" value="C:\CloudFoundry\Staging" />
    <add key="DropletsDirectory" value="C:\CloudFoundry\Droplets" />
    
    <!--
    <add key="NatsHost" value="172.21.100.15"/>
    -->
    <add key="NatsHost" value="172.21.193.11"/>
    <add key="NatsPort" value="4222"/>
    
    <!--
    <add key="AvailableIps" value="172.21.100.20;172.21.100.21;172.21.100.22;172.21.100.23;172.21.100.24;172.21.100.25"/>
    <add key="AvailableIps" value="172.21.193.12" />
    -->
    <add key="AvailableIps" value="172.21.10.232" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>