<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="file" xsi:type="File" layout="${longdate} ${message}"
            fileName="${shortdate}_cloudfoundry_dea.log"
            keepFileOpen="true"
            encoding="iso-8859-2" />
    <target name="console" xsi:type="Console" layout="${longdate} ${message}" />
   </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Trace" writeto="file" final="true" />
  </rules>
</nlog>