<?xml version='1.0' encoding='UTF-8' ?>
<configuration>
    <configSections>
        <sectionGroup name='system.applicationHost'>
            <section name='applicationPools' allowDefinition='AppHostOnly' />
            <section name='listenerAdapters' allowDefinition='AppHostOnly' />
            <section name='log' allowDefinition='AppHostOnly' />
            <section name='sites' allowDefinition='AppHostOnly' />
            <section name='webLimits' allowDefinition='AppHostOnly' />
        </sectionGroup>

        <sectionGroup name='system.webServer'>
            <section name='globalModules' allowDefinition='AppHostOnly' />
            <section name='modules' />
            <section name='handlers' />
            <section name='staticContent' />
            <section name='serverRuntime' />
            <sectionGroup name='security'>
                <section name="access"/>
                <sectionGroup name='authentication'>
                    <section name='anonymousAuthentication' />
                    <!--<section name='windowsAuthentication' />-->
                    <section name='basicAuthentication' />
                </sectionGroup>
                <section name='authorization' />
                <section name='requestFiltering' />
                <section name='applicationDependencies' />
                <section name='ipSecurity' />
            </sectionGroup>
            <section name='asp' />
            <section name='caching' />
            <section name='cgi' />
            <section name='defaultDocument' />
            <section name='directoryBrowse' />
            <section name='httpErrors' />
            <section name='httpLogging' />
            <section name='httpProtocol' />
            <section name='httpRedirect' />
            <section name='httpTracing' />
            <section name='isapiFilters' allowDefinition='MachineToApplication' />
            <section name='odbcLogging' />
        </sectionGroup>
    </configSections>

    <system.applicationHost>
        <applicationPools>
            <add name='{4}' managedPipelineMode='Integrated' />
        </applicationPools>

        <sites>
            <site name='MySite' id='{3}'>
                <bindings>
                    <binding protocol='http' bindingInformation='*:{0}:localhost' />
                </bindings>
                <application path='/' applicationPool='{4}' >
                    <virtualDirectory path='/' physicalPath='{1}' />
                </application>
            </site>
        </sites>
    </system.applicationHost>

    <system.webServer>
        <globalModules>
            <add name='StaticFileModule' image='%windir%\System32\inetsrv\static.dll' />
            <add name='AnonymousAuthenticationModule' image='%windir%\System32\inetsrv\authanon.dll' />
            <!--<add name='WindowsAuthenticationModule' image='%windir%\System32\inetsrv\authsspi.dll' />-->
            <add name='RequestFilteringModule' image='%windir%\System32\inetsrv\modrqflt.dll' />
            <add name='ManagedEngine' image='{2}\webengine.dll' preCondition='integratedMode,runtimeVersionv2.0,bitness32' />
        </globalModules>

        <modules>
            <add name='RequestFilteringModule' />
            <add name='StaticFileModule' />
            <add name='AnonymousAuthenticationModule' />
            <!--<add name='WindowsAuthenticationModule' />-->
            <add name='OutputCache' type='System.Web.Caching.OutputCacheModule' preCondition='managedHandler' />
            <add name='Session' type='System.Web.SessionState.SessionStateModule' preCondition='managedHandler' />
            <!--<add name='WindowsAuthentication' type='System.Web.Security.WindowsAuthenticationModule' preCondition='managedHandler' />-->
            <add name='FormsAuthentication' type='System.Web.Security.FormsAuthenticationModule' preCondition='managedHandler' />
            <add name='DefaultAuthentication' type='System.Web.Security.DefaultAuthenticationModule' preCondition='managedHandler' />
            <add name='RoleManager' type='System.Web.Security.RoleManagerModule' preCondition='managedHandler' />
            <add name='UrlAuthorization' type='System.Web.Security.UrlAuthorizationModule' preCondition='managedHandler' />
            <add name='FileAuthorization' type='System.Web.Security.FileAuthorizationModule' preCondition='managedHandler' />
            <add name='AnonymousIdentification' type='System.Web.Security.AnonymousIdentificationModule' preCondition='managedHandler' />
            <add name='Profile' type='System.Web.Profile.ProfileModule' preCondition='managedHandler' />
            <add name='UrlMappingsModule' type='System.Web.UrlMappingsModule' preCondition='managedHandler' />
        </modules>

        <handlers accessPolicy='Read, Script'>
            <add name='TraceHandler-Integrated' path='trace.axd' verb='GET,HEAD,POST,DEBUG' type='System.Web.Handlers.TraceHandler' preCondition='integratedMode' />
            <add name='WebAdminHandler-Integrated' path='WebAdmin.axd' verb='GET,DEBUG' type='System.Web.Handlers.WebAdminHandler' preCondition='integratedMode' />
            <add name='AssemblyResourceLoader-Integrated' path='WebResource.axd' verb='GET,DEBUG' type='System.Web.Handlers.AssemblyResourceLoader' preCondition='integratedMode' />
            <add name='PageHandlerFactory-Integrated' path='*.aspx' verb='GET,HEAD,POST,DEBUG' type='System.Web.UI.PageHandlerFactory' preCondition='integratedMode' />
            <add name='SimpleHandlerFactory-Integrated' path='*.ashx' verb='GET,HEAD,POST,DEBUG' type='System.Web.UI.SimpleHandlerFactory' preCondition='integratedMode' />
            <add name='WebServiceHandlerFactory-Integrated' path='*.asmx' verb='GET,HEAD,POST,DEBUG' type='System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' preCondition='integratedMode' />
            <add name='HttpRemotingHandlerFactory-rem-Integrated' path='*.rem' verb='GET,HEAD,POST,DEBUG' type='System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' preCondition='integratedMode' />
            <add name='HttpRemotingHandlerFactory-soap-Integrated' path='*.soap' verb='GET,HEAD,POST,DEBUG' type='System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089' preCondition='integratedMode' />
            <add name='StaticFile' path='*' verb='*' modules='StaticFileModule' resourceType='Either' requireAccess='Read' />
        </handlers>

        <security>
            <authentication>
                <anonymousAuthentication enabled='true' userName='IUSR' />
            </authentication>
            <requestFiltering allowDoubleEscaping='false' allowHighBitCharacters='false'>
                <denyUrlSequences>
                    <add sequence='..' />
                    <add sequence='./' />
                    <add sequence='\' />
                    <add sequence=':' />
                    <add sequence='%' />
                    <add sequence='&amp;' />
                </denyUrlSequences>
                <fileExtensions allowUnlisted='true'>
                </fileExtensions>
                <requestLimits maxAllowedContentLength='2097152' maxUrl='260' maxQueryString='2048' />
                <verbs allowUnlisted='true'>
                    <add verb='GET' allowed='true' />
                    <add verb='POST' allowed='true' />
                </verbs>
            </requestFiltering>
            <ipSecurity allowUnlisted='false'>
                <add ipAddress='127.0.0.1' allowed='true' />
            </ipSecurity>
        </security>
        <staticContent>
            <mimeMap fileExtension='.htm' mimeType='text/html' />
            <mimeMap fileExtension='.txt' mimeType='text/plain' />
            <mimeMap fileExtension='.jpg' mimeType='image/jpeg' />
            <mimeMap fileExtension='.js' mimeType='application/javascript' />
            <mimeMap fileExtension='.gif' mimeType='image/gif' />
            <mimeMap fileExtension='.png' mimeType='image/png' />
            <mimeMap fileExtension='.xml' mimeType='text/xml' />
        </staticContent>
    </system.webServer>
</configuration>