<?xml version='1.0' encoding='UTF-8' ?>
<configuration>
    <configSections>
        <sectionGroup name='system.applicationHost'>
            <section name='applicationPools' allowDefinition='AppHostOnly' />
            <section name='listenerAdapters' allowDefinition='AppHostOnly' />
            <section name='log' allowDefinition='AppHostOnly' />
            <section name='sites' allowDefinition='AppHostOnly' />
            <section name='webLimits' allowDefinition='AppHostOnly' />
        </sectionGroup>

        <sectionGroup name='system.webServer'>
            <section name='globalModules' allowDefinition='AppHostOnly' />
            <section name='modules' />
            <section name='handlers' />
            <section name='staticContent' />
            <section name='serverRuntime' />
            <sectionGroup name='security'>
              <section name="access"/>
              <sectionGroup name='authentication'>
                <section name='anonymousAuthentication' />
              </sectionGroup>
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.applicationHost>
        <applicationPools>
            <add name='{4}' managedPipelineMode='Integrated' />
        </applicationPools>

        <sites>
            <site name='MySite' id='{3}'>
                <bindings>
                    <binding protocol='http' bindingInformation='*:{0}:localhost' />
                </bindings>
                <application path='/' applicationPool='{4}' >
                    <virtualDirectory path='/' physicalPath='{1}' />
                </application>
            </site>
        </sites>
    </system.applicationHost>

    <system.webServer>
        <globalModules>
            <add name='StaticFileModule' image='%windir%\System32\inetsrv\static.dll' />
            <add name='AnonymousAuthenticationModule' image='%windir%\System32\inetsrv\authanon.dll' />
        </globalModules>

        <modules>
            <add name='StaticFileModule' />
            <add name='AnonymousAuthenticationModule' />
        </modules>

        <handlers accessPolicy='Read, Script'>
            <add name='StaticFile' path='*' verb='*' modules='StaticFileModule' resourceType='Either' requireAccess='Read' />
        </handlers>

        <security>
            <authentication>
                <anonymousAuthentication enabled='true' userName='IUSR' />
            </authentication>
        </security>
        <staticContent>
            <mimeMap fileExtension='.htm' mimeType='text/html' />
            <mimeMap fileExtension='.txt' mimeType='text/plain' />
            <mimeMap fileExtension='.jpg' mimeType='image/jpeg' />
            <mimeMap fileExtension='.js' mimeType='application/javascript' />
            <mimeMap fileExtension='.gif' mimeType='image/gif' />
            <mimeMap fileExtension='.png' mimeType='image/png' />
            <mimeMap fileExtension='.xml' mimeType='text/xml' />
        </staticContent>
    </system.webServer>
</configuration>