<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="ironFoundryDea" type="IronFoundry.Dea.Config.DeaSection, IronFoundry.Dea" />
  </configSections>
  
  <ironFoundryDea natsHost="QA1LRBCLD01"
                  natsPort="4222"
                  localRoute="172.21.193.19"
                  filesServicePort="12345"
                  appDir="C:\IronFoundry\apps"
                  stagingDir="C:\IronFoundry\staging"
                  dropletDir="C:\IronFoundry\droplets"
                  disableDirCleanup="false" />
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!-- <target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:|${exception:format=Message}}" /> -->
      <target name="file" xsi:type="File" fileName="logs\log.txt" layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:|${exception:format=Message}}" />
      <target name="exception_file" xsi:type="File" fileName="logs\exception_log.txt" layout="${longdate}|${logger:shortName=true}|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}${newline}" />
    </targets>
    <rules>
      <!-- <logger name="*" minlevel="debug" writeTo="console" /> -->
      <logger name="*" minlevel="info" writeTo="file" />
      <logger name="*" minlevel="error" writeTo="exception_file" />
    </rules>
  </nlog>
  
  <!-- http://msdn.microsoft.com/en-us/library/ms733025(v=VS.90).aspx -->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing, All" propagateActivity="true">
        <listeners>
          <add name="xmlTraceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "C:\logs\Tier3.Queuing.WinService.xml" />
          <add name="textTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData= "C:\logs\Tier3.Queuing.WinService.txt" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>